<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.acceptor.dao.MerchantApplyBusinessMapper">
  <resultMap id="BaseResultMap" type="com.business.acceptor.entity.MerchantApplyBusiness">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_account" jdbcType="VARCHAR" property="merchantAccount" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="apply_state" jdbcType="TINYINT" property="applyState" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="rebate_type" jdbcType="TINYINT" property="rebateType" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="min_amount" jdbcType="BIGINT" property="minAmount" />
    <result column="max_amount" jdbcType="BIGINT" property="maxAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
  </resultMap>
</mapper>