<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.acceptor.dao.MerchantInfoMapper">
  <resultMap id="BaseResultMap" type="com.business.acceptor.entity.MerchantInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_account" jdbcType="VARCHAR" property="merchantAccount" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="login_salt" jdbcType="VARCHAR" property="loginSalt" />
    <result column="frozen_status" jdbcType="TINYINT" property="frozenStatus" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_address" jdbcType="VARCHAR" property="lastLoginAddress" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="this_login_ip" jdbcType="VARCHAR" property="thisLoginIp" />
    <result column="this_login_address" jdbcType="VARCHAR" property="thisLoginAddress" />
    <result column="this_login_time" jdbcType="TIMESTAMP" property="thisLoginTime" />
    <result column="balance_notify_switch" jdbcType="TINYINT" property="balanceNotifySwitch" />
    <result column="balance_notify_amount" jdbcType="BIGINT" property="balanceNotifyAmount" />
    <result column="balance_notify_url" jdbcType="VARCHAR" property="balanceNotifyUrl" />
    <result column="sign_key" jdbcType="VARCHAR" property="signKey" />
    <result column="allow_notify" jdbcType="INTEGER" property="allowNotify" />
    <result column="company_comments" jdbcType="LONGVARCHAR" property="companyComments" />
  </resultMap>
</mapper>