<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.chargeservice.dao.QcoinOrderMapper">
  <resultMap id="BaseResultMap" type="com.business.api.entity.QcoinOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="mer_order_no" jdbcType="VARCHAR" property="merOrderNo" />
    <result column="mer_account" jdbcType="VARCHAR" property="merAccount" />
    <result column="recharge_account" jdbcType="VARCHAR" property="rechargeAccount" />
    <result column="recharge_value" jdbcType="BIGINT" property="rechargeValue" />
    <result column="recharge_num" jdbcType="BIGINT" property="rechargeNum" />
    <result column="order_amount" jdbcType="BIGINT" property="orderAmount" />
    <result column="pay_amount" jdbcType="BIGINT" property="payAmount" />
    <result column="discount_amount" jdbcType="BIGINT" property="discountAmount" />
    <result column="success_amount" jdbcType="BIGINT" property="successAmount" />
    <result column="order_detail" jdbcType="VARCHAR" property="orderDetail" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="customer_ip" jdbcType="VARCHAR" property="customerIp" />
    <result column="handle_state" jdbcType="INTEGER" property="handleState" />
    <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime" />
    <result column="channel_result" jdbcType="VARCHAR" property="channelResult" />
    <result column="allow_split" jdbcType="INTEGER" property="allowSplit" />
    <result column="allow_delay" jdbcType="INTEGER" property="allowDelay" />
    <result column="match_state" jdbcType="INTEGER" property="matchState" />
    <result column="match_province_code" jdbcType="VARCHAR" property="matchProvinceCode" />
    <result column="discount_rate" jdbcType="DOUBLE" property="discountRate" />
    <result column="discount_province_code" jdbcType="VARCHAR" property="discountProvinceCode" />
  </resultMap>
</mapper>